.header {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.root {
    background-color: yellow;
}

.paragraph {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}